.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;

    object-fit: cover;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.swiper-slide-active img {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.2s;
}
.my-swiper-img:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);

}
.swiper-img-brdr {
  border: 3px solid var(--main-color) !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #636361 !important;
  color: #FFF !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
  width: 2rem !important;
  height: 2rem !important;
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #474745 !important;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 7px !important;
  
}

.swiper-button-next {
  right: 1.7rem !important;
}
@media (max-width: 1399px) {
  .swiper-button-next {
    right: 0.3rem !important;
  }
}
@media (max-width: 769px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 1.75rem !important;
    height: 1.75rem !important;
  }
  .swiper-button-prev {
    left: 1.3rem !important;
  }
}

@media (max-width: 575px) {
    .product-image {
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .product-badge {
        top: 1rem !important;
        left: 2rem !important;
    }
    .product-heart {
        top: 1rem !important;
        right: 2rem !important;
    }
    .swiper-button-prev {
      left: 2rem !important;
    }
    .swiper-button-next {
      right: 2rem !important;
    }
    .other-images img {
      width: 85px !important;
    }
}