/* removing default style of button */
.input-shop button {
  border: none;
  background: none;
  color: #8b8ba7;
}

.input-shop button:hover {
  background-color: transparent !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* styling of whole input container */
.input-shop {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: var(--main-color);
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: #1F1F1F;
}

/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

/* styling of animated border */
.input-shop:before {
  content: "";
  position: absolute;
  background: var(--main-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

/* Hover on Input */
.input-shop:focus-within {
  border-radius: var(--after-border-radius);
  -webkit-border-radius: var(--after-border-radius);
  -moz-border-radius: var(--after-border-radius);
  -ms-border-radius: var(--after-border-radius);
  -o-border-radius: var(--after-border-radius);
}

.input-shop input:focus {
  outline: none;
  box-shadow: 0 0 0 0 !important;
}

/* here is code of animated border */
.input-shop:focus-within:before {
  transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

/* sizing svg icons */
.input-shop svg {
  width: 17px;
  margin-top: 3px;
}

.input-shop input:focus {
  outline: none;
  box-shadow: 0 0 0 0 !important;
}