.step-num {
    color: #7D7D7D;
    border: 1px solid #464646;
    background-color: #262626;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 7px 18px;
    display: flex;
    justify-content: center;
}
.step-name {
    color: #515556;
    font-size: 14px;
}

.checkout-active .step-num {
    background-color: var(--main-color);
    color: #FFF;
}
.complete .step-num {
    background-color: var(--main-color);
}
.progress-bar {
    position: absolute;
    top: 30%;
    height:2px;
    width: 55%;
    background-color: #262626;
}
.progress {
    height: 100%;
    background-color: var(--main-color) !important;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}