.popup {
    position: fixed;
    bottom: 0px;
    right: 30px;
    background-color: #1a1a1a;
    border-radius: 15px;
    animation: popupUp 0.2s ease forwards;
}
.popup.hide {
    animation: popupDown 0.2s ease forwards;
}
@keyframes popupUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes popupDown {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
}
}